# Игнорировать файлы временных данных
*.log
*.tmp
*.ico
*.ini

# Игнорировать директорию build
/build/

# Игнорировать пользовательские настройки IDE
.vscode/
*.iml

# Игнорировать системные файлы
.DS_Store
Thumbs.db
